/* =========================
   Lenis
========================= */


html.lenis {
    height: auto;
}

html.lenis.lenis-smooth {
    scroll-behavior: auto;
}

html.lenis.lenis-stopped {
    overflow: hidden;
}
